body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #87cefa; /* Light blue background */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  max-width: 600px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #1E90FF;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

select {
  width: 220px;
  padding: 12px;
  font-size: 16px;
  background-color: #1E90FF;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
}

select:hover {
  background-color: #4682B4;
}

.weather-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  color: #333;
}

.weather-container h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #1E90FF;
}

.weather-container p {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
}

.weather-container p:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1E90FF;
}

.weather-container p:last-child {
  color: #1E90FF;
}

.loading-message {
  font-size: 1.2rem;
  color: #1E90FF;
  font-weight: bold;
}

footer {
  margin-top: 30px;
  color: #fff;
  font-size: 0.9rem;
}

nav {
  margin-bottom: 30px;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: #1E90FF;
  font-size: 18px;
  margin: 0 25px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #4682B4;
}

.about-page {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  color: #333;
}

.about-page h2 {
  font-size: 2rem;
  color: #1E90FF;
}

.about-page p {
  font-size: 1.2rem;
  color: #000;
}

.contact-page {
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 10px;
  color: #333;
}

.contact-page h2 {
  font-size: 2rem;
  color: #FF6347;
}

.contact-page p {
  font-size: 1.2rem;
  color: #000;
}
